@charset "UTF-8";
/* Variables */
/* Mixins */
* {
  box-sizing: border-box;
  margin: 0;
}

header {
  padding: 20px;
}

/* Polices */
@font-face {
  font-family: "Shrikhand-Regular";
  src: url("../polices/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../polices/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../polices/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../polices/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../polices/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../polices/Roboto-Bold.ttf") format("truetype");
}
body, button {
  font-family: Roboto, Arial, serif;
}

/* Loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F7F7F7;
  opacity: 1;
  z-index: 100000;
  animation: background 2.5s forwards;
}
.loader__element {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 5px;
  animation: dots 400ms both 5 ease-in-out alternate;
}
.loader__element-1 {
  animation-delay: 80ms;
}
.loader__element-2 {
  animation-delay: 160ms;
}
.loader__element-3 {
  animation-delay: 240ms;
}
.loader__element-4 {
  animation-delay: 320ms;
}
.loader__element-5 {
  animation-delay: 400ms;
}

@keyframes dots {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes background {
  99% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1000px);
  }
}
/* Footer */
footer {
  background-color: #303030;
  color: white;
  padding: 20px;
}
footer > p {
  font-family: "Shrikhand-Regular";
  padding-bottom: 12px;
  font-size: 18px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer li {
  display: flex;
  align-items: baseline;
  line-height: 1.7;
}
footer i {
  margin-right: 10px;
  font-size: 14px;
}
footer .handshake {
  font-size: 10px;
}
footer a {
  display: flex;
  align-items: baseline;
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #99E2D0;
}

/* Header */
#header__home-page {
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px #808080;
  margin-bottom: 4px;
}

/* Localisation */
#localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ededed;
  cursor: pointer;
}
#localisation p {
  padding: 15px;
  font-family: "Roboto-Medium";
}

/* Présentation */
#presentation {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 35px;
}
#presentation__button {
  box-shadow: 0 5px 15px #C0C0C0;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  padding: 15px 20px;
  margin-bottom: 50px;
}
#presentation__button:hover {
  box-shadow: 0 5px 15px #8d8d8d;
}
#presentation__button:hover {
  cursor: pointer;
  background: linear-gradient(#ff93e1, #a16be0);
}
#presentation h1 {
  font-family: "Roboto-Medium";
  font-size: 26px;
  margin: 40px 30px 10px 30px;
}
#presentation p {
  font-family: "Roboto-Regular";
  font-size: 18px;
  margin-bottom: 30px;
  color: #696969;
}

/* Fonctionnement */
h2 {
  font-family: "Roboto-Medium";
  font-size: 24px;
  margin: 0 0 30px 21px;
  padding-top: 50px;
}

#operation-list {
  padding-bottom: 40px;
}

.operation {
  display: flex;
  align-items: baseline;
  margin: 0 0 25px 20px;
  font-family: "Roboto-Bold";
}
.operation > p {
  color: white;
  background-color: #9356DC;
  padding: 5px 10px;
  border-radius: 30px;
  font-family: "Roboto-Regular";
  font-size: 14px;
  z-index: 1;
}
.operation i {
  color: #919191;
  font-size: 22px;
  padding-right: 20px;
}
.operation__button {
  box-shadow: 0 5px 15px #C0C0C0;
  display: flex;
  position: relative;
  left: -2%;
  background-color: #F7F7F7;
  padding: 20px 40px;
  border-radius: 20px;
  width: 90%;
}
.operation__button:hover {
  box-shadow: 0 5px 15px #8d8d8d;
}
.operation__button:hover {
  cursor: pointer;
  background-color: #f2eafb;
}
.operation__button:hover i {
  color: #9356DC;
}

/* Liste des restaurants */
#restaurants {
  background-color: #F7F7F7;
  padding-bottom: 40px;
}

#restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-prev {
  width: 95%;
  border-radius: 15px;
  margin: 0 20px 20px 20px;
  position: relative;
  box-shadow: 0 5px 15px #C0C0C0;
}
.restaurant-prev:hover {
  box-shadow: 0 5px 15px #8d8d8d;
}
.restaurant-prev img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant-prev a {
  text-decoration: none;
}
.restaurant-prev i {
  font-size: 22px;
  margin-right: 10px;
}
.restaurant-prev--new {
  background-color: #99E2D0;
  color: #278870;
  padding: 6px 10px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  font-family: "Roboto-Medium";
}
.restaurant-prev__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  color: black;
}
.restaurant-prev__heading__heart {
  cursor: pointer;
  position: relative;
}
.restaurant-prev__heading__heart .heart--selected {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 500ms;
}
.restaurant-prev__heading__heart:hover .heart--selected {
  opacity: 1;
}
.restaurant-prev__heading__heart:hover .heart--unselected {
  opacity: 0;
}

h3 {
  font-family: "Roboto-Medium";
  margin-bottom: 3px;
  font-size: 17px;
}

/* Format Tablette */
@media all and (min-width: 768px) {
  #operation-list {
    display: flex;
    flex-wrap: wrap;
  }
  .operation {
    width: 47%;
  }
  .restaurant-prev {
    width: 44%;
  }
}
/* Format Desktop */
@media all and (min-width: 1200px) {
  .operation {
    width: 31%;
  }
  .restaurant-prev {
    width: 30%;
  }
  .restaurant-prev img {
    height: 220px;
  }
}
/* Header */
.header__restaurant-page {
  display: flex;
  align-items: center;
}
.header__restaurant-page img {
  margin-right: auto;
  margin-left: auto;
}
.header__restaurant-page i {
  color: #303030;
  font-size: 22px;
  margin-right: auto;
  padding-left: 10px;
}
.header__restaurant-page i:hover {
  color: #9356DC;
}

/* Image */
#banner {
  width: 100%;
  height: 280px;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

/* Menu */
#menu {
  background-color: #F7F7F7;
  border-radius: 40px 40px 0 0;
  padding-bottom: 10px;
  margin-top: -40px;
}
#menu .menu__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
}
#menu .menu__title i {
  font-size: 28px;
  margin-right: 30px;
}
#menu .menu__title__heart {
  cursor: pointer;
  position: relative;
}
#menu .menu__title__heart .heart--selected {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 500ms;
}
#menu .menu__title__heart:hover .heart--selected {
  opacity: 1;
}
#menu .menu__title__heart:hover .heart--unselected {
  opacity: 0;
}
#menu .menu__dish {
  margin: 0 7px;
}
#menu h1 {
  font-family: "Shrikhand-Regular";
  margin: 20px 0 0 10px;
  font-size: 28px;
}
#menu h2 {
  font-family: "Roboto-Light";
  text-transform: uppercase;
  font-size: 15px;
  margin: 0 0 0 10px;
  padding-top: 25px;
  color: #696969;
}

.title-line {
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  margin: 3px 0 12px 10px;
  color: #99E2D0;
}

/* Plats */
.dish {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 20px #C0C0C0;
  margin: 10px;
  opacity: 0;
  overflow: hidden;
  animation: dish-anim 1s forwards;
}
.dish--1 {
  animation-delay: 255ms;
}
.dish--2 {
  animation-delay: 510ms;
}
.dish--3 {
  animation-delay: 765ms;
}
.dish--4 {
  animation-delay: 1020ms;
}
.dish__name {
  padding-left: 20px;
  font-family: "Roboto-Regular";
  min-width: 0;
}
.dish__name h3 {
  font-family: "Roboto-Medium";
  margin-bottom: 3px;
}
.dish__name-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__price {
  padding: 15px 20px;
  margin-left: auto;
  align-self: flex-end;
  color: black;
  font-family: "Roboto-Bold";
}
.dish__check {
  margin-right: -70px;
  padding: 20px 20px;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
}
.dish__check i {
  padding: 5px;
  font-size: 14px;
  color: #99E2D0;
  background-color: white;
  border-radius: 50px;
}
.dish:hover {
  cursor: pointer;
}
.dish:hover .dish__check {
  animation: check-anim 200ms forwards;
}
.dish:hover .dish__check i {
  animation: check-icon-anim 400ms forwards;
}

@keyframes dish-anim {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes check-anim {
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
@keyframes check-icon-anim {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Bouton Commander */
#order {
  box-shadow: 0 5px 15px #C0C0C0;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  padding: 15px 40px;
  display: block;
  margin: 30px auto;
}
#order:hover {
  box-shadow: 0 5px 15px #8d8d8d;
}
#order:hover {
  cursor: pointer;
  background: linear-gradient(#ff93e1, #a16be0);
}

/* Format Tablette */
@media all and (min-width: 768px) {
  .dish {
    width: 90%;
  }
  .menu__dish {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .menu__dish-type {
    width: 50%;
  }
}
/* Format Desktop */
@media all and (min-width: 1200px) {
  .menu__dish-type {
    width: 33%;
  }
}

/*# sourceMappingURL=style.css.map */
