/* Variables */

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$light-grey: #C0C0C0;
$background: #F7F7F7;
$background-footer: #303030;


/* Mixins */

@mixin button {
    background: linear-gradient($secondary,$primary);
        border: none;
        border-radius: 30px;
        color: white;
        font-size: 16px;
        box-shadow: 0 5px 15px $light-grey;
        &:hover {
            cursor: pointer;
            box-shadow: 0 5px 15px darken($light-grey,20);
            background: linear-gradient(lighten($secondary,5),lighten($primary,5));
        }
}

@mixin favorite-heart {
    cursor: pointer;
    position: relative;
            .favorite-heart__selected {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
            .favorite-heart__unselected {
                position: relative;
            }
    .favorite-heart__selected {
        background: linear-gradient($primary,$secondary);
            color: transparent;
            -webkit-background-clip: text;
            opacity: 0;
            transition: all 500ms;
        }
    &:hover {
        .favorite-heart__selected { 
            opacity: 1;
            } 
        .favorite-heart__unselected { 
            opacity: 0; 
            } 
        }   
}

@mixin new {
    background-color: $tertiary;
    color: darken($tertiary, 40);
    padding: 6px 10px;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    font-family: "Roboto-Medium";
}

@mixin ellipsis-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

  