/* Localisation */

#localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darken($background,4);
    cursor: pointer;
    p {
        padding: 15px;
        font-family: 'Roboto-Medium';
    }
}


/* Présentation */

#presentation {
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 35px;
    &__button {
        @include button;
        padding: 15px 20px;
        margin-bottom: 50px;
    }
}


/* Fonctionnement */

#operation-list {
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.operation {
    display: flex;
    align-items: baseline;
    margin-bottom: 25px;
    margin-left: 20px;
    font-family: 'Roboto-Bold';
    > p {
        color: white;
        background-color: $primary;
        padding: 5px 10px;
        border-radius: 30px;
        font-family: 'Roboto-Regular';
        font-size: 14px;
        z-index: 1;
    }
    i {
        color: darken($background,40);
        font-size: 22px;
        padding-right: 20px;
    }
    &__button {
        display: flex;
        position: relative;
        left: -2%;
        background-color: $background;
        box-shadow: 0 10px 15px $light-grey;
        width: 350px;
        padding: 20px 40px;
        border-radius: 20px;
        &:hover {
            cursor: pointer;
            background-color: lighten($primary, 35);
            box-shadow: 0 10px 15px #808080;
            i {
                color: $primary;
            }
        }
    }
    
}

/* Restaurants liste */

#restaurant-section {
    background-color: $background;
    padding-bottom: 40px;
}

#restaurant-list {
    display: flex;
    flex-wrap: wrap;
}

.restaurant-prev {
    width: 95%;
    border-radius: 15px;
    box-shadow: 0 0 20px #808080;
    margin: 20px;
    position: relative;
    &:hover {
        box-shadow: 0 0 20px #303030;
    }
    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    a {
        text-decoration: none;
    }
    i {
        font-size: 22px;
        margin-right: 10px;
    }
    &__new {
        @include new;
    }
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px;
        color:black;
        &__heart {
            @include favorite-heart;
            }    
        }
    }



/* Tablette */

@media all and (min-width: 768px) {
  .restaurant-prev {
      width: 40%;
  }      
}

/* Desktop */

@media all and (min-width: 1200px) {
    .restaurant-prev {
        width: 30%;
    }
}  

    