
/* Header */

.header__restaurant-page {
    display: flex;
    align-items: center;
    img {
        margin-right: auto;
        margin-left: auto;
    }
    i {
        color: #303030;
        font-size: 22px;
        margin-right: auto;
        padding-left: 10px;
        &:hover {
            color: $primary;
        }
    }
}


/* Image */

#banner {
    width: 100%;
    height: 280px;
    object-fit: cover;
    position: relative;
    z-index: -1;
}


/* Menu */

#menu {
    background-color: $page-background;
    border-radius: 40px 40px 0 0;
    padding-bottom: 10px;
    margin-top: -40px;
    .menu__title {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 10px;  
        i {
            font-size: 28px;
            margin-right: 30px;
        }
        &__heart {
            @include favorite-heart;
        }
    }
    .menu__dish {
        margin: 0 7px;
    }
    h1 {
        font-family: "Shrikhand-Regular";
        margin: 20px 0 0 10px;
        font-size: 28px;
    }
    h2 {
        font-family: "Roboto-Light";
        text-transform: uppercase;
        font-size: 15px;
        margin: 0 0 15px 10px;
        padding: 20px 0 4px 0;
        color: $dark-grey;
        width: 40px;
        border-bottom: 3px solid $tertiary;
    }
}

/* Plats */

.dish {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 20px $light-grey;
    margin: 10px;
    opacity: 0;
    overflow: hidden;
    animation: dish-anim 1s forwards;
    @for $i from 1 through 4 {
        &--#{$i} {
            animation-delay: 150ms * $i * 1.7;
        }
    }
    &__name {
        padding-left: 20px;
        font-family: 'Roboto-Regular';
        min-width: 0;
        h3 {
            font-family: "Roboto-Medium";
            margin-bottom: 3px;
        }
        &-overflow {
            @include ellipsis-overflow;
        }
    }
    &__price {
        padding: 15px 20px;
        margin-left: auto;
        align-self: flex-end;
        color: black;
        font-family: 'Roboto-Bold';
    }
    &__check {
        margin-right: -70px;
        padding: 20px 20px;
        border-radius: 0 20px 20px 0;
        background-color: $tertiary;
        i {
        padding: 5px;
            font-size: 14px;
            color: $tertiary;
            background-color: white;
            border-radius: 50px;
        }
    }
    &:hover {
        cursor: pointer;
        .dish__check {
            animation: check-anim 200ms forwards;
            i {
                animation: check-icon-anim 400ms forwards;
            }
        }
    }
}

@keyframes dish-anim {
    0% {
        opacity: 0;
        transform: translateY(10%)
    }
    100% {
        opacity: 1;
        transform: translateY(0%)
    }
}


@keyframes check-anim {
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

@keyframes check-icon-anim {
    0% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* Bouton Commander */

#order {
    @include button;
    padding: 15px 40px;
    display: block;
    margin : 30px auto;
}



/* Format Tablette */

@media all and (min-width: 768px) {
    .dish {
        width: 90%;
    }
    .menu {
        &__dish {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &-type {
                width: 50%;
            }
        }
    }
}


/* Format Desktop */

@media all and (min-width: 1200px) {
    .menu__dish-type {
        width: 33%;
    }
}  
    