/* Menu */

.banner img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    position: absolute;
    z-index: -1;
}

.menu {
background-color: $background;
border-radius: 40px 40px 0 0;
margin-top: 290px;
padding-bottom: 10px;
&__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;  
    i {
        font-size: 28px;
        margin-right: 30px;
    }
    &__heart {
        @include favorite-heart;
    }
}
&__dish {
    margin: 0 7px;
}
}

.line {
width: 40px;
border-bottom: 3px solid $tertiary;
margin: 3px 0 12px 10px;
color:$tertiary;
}


/* Plats */

$dish-delay: 150ms;

.dish {
display: flex;
align-items: center;
border-radius: 20px;
background-color: white;
box-shadow: 0 0 20px $light-grey;
margin: 10px;
opacity: 0;
overflow: hidden;
animation: dish-anim 1s forwards;
@for $i from 1 through 4 {
    &--#{$i} {
        animation-delay: $dish-delay * $i * 1.7;
     }
}
&__name {
    padding-left: 20px;
    font-family: 'Roboto-Regular';
    min-width: 0;
    &-overflow {
        @include ellipsis-overflow;
    }
}
&__price {
    padding: 15px 20px;
    margin-left: auto;
    align-self: flex-end;
    color: black;
    font-family: 'Roboto-Medium';
}
&__check {
    margin-right: -70px;
    padding: 20px 20px;
    border-radius: 0 20px 20px 0;
    background-color: $tertiary;
    i {
    padding: 5px;
    font-size: 14px;
    color: $tertiary;
    background-color: white;
    border-radius: 50px;
    }
}
&:hover {
    cursor: pointer;
.dish__check {
    animation: check-anim 200ms forwards;
    i {
        animation: check-icon-anim 400ms forwards;
    }
}
}
}



@keyframes dish-anim {
0% {
    opacity: 0;
    transform: translateY(10%)
}
100% {
    opacity: 1;
    transform: translateY(0%)
}
}


@keyframes check-anim {
100% {
    margin-right: 0;
    opacity: 1;
}
}

@keyframes check-icon-anim {
0% {
    transform: rotate(-360deg);
}
100% {
    transform: rotate(0deg);
}
}


/* Bouton */

#order {
@include button;
padding: 15px 40px;
display: block;
margin : 30px auto;
}



/* Tablette */

@media all and (min-width: 768px) {

    .menu__dish-type {
        width: 50%;
    }

    .dish {
        width: 90%;
    }

    .menu__dish {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .menu {
        &__title {
        justify-content: flex-start;
        column-gap: 30px;
    }
    }

    
}

/* Desktop */

@media all and (min-width: 1200px) {

    .menu__dish-type {
        width: 33%;
    }

}  
    